<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"> -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet"> 
<link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/4.1.3/css/sb-admin-2.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .reportGraph {
    width:1050px;
  }
  .container2 {
    width: 970px !important;
}
  #header.header-scrolled {
    background: #fff;
    padding: 20px 0;
    height: 72px;
    transition: all 0.5s;
}
#header {
    padding: 30px 0;
    height: 92px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
    background-color: #fff;
    box-shadow: 5px 0px 15px #c3c3c3;
}
#header #logo h1 {
    font-size: 34px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
}
#header #logo h1 a, #header #logo h1 a:hover {
    color: #000;
    padding-left: 10px;
    border-left: 4px solid grey;
}
#nav-menu-container {
    float: right;
    margin: 0;
}
.nav-menu > li {
    margin-left: 10px;
}
.nav-menu > li {
    float: left;
}
.nav-menu li {
    position: relative;
    white-space: nowrap;
}
.nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}
.header-scrolled .nav-menu li:hover > a, .header-scrolled .nav-menu > .menu-active > a {
    color: #18d26e;
}
.header-scrolled .nav-menu a {
    color: black;
}
.nav-menu li:hover > a, .nav-menu > .menu-active > a {
    color: #18d26e;
}
.nav-menu a {
    padding: 0 8px 10px 8px;
    text-decoration: none;
    display: inline-block;
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    outline: none;
}
#mobile-nav-toggle {
    display: inline;
}
#mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 20px 20px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
}
#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}
body.mobile-nav-active #mobile-nav {
    left: 0;
}
#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.8);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
}
#mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#mobile-nav ul li {
    position: relative;
}
#mobile-nav ul li a {
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}
#mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #18d26e;
}
#mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff;
}
#mobile-nav ul .menu-item-active {
    color: #18d26e;
}
#mobile-nav ul li li {
    padding-left: 30px;
}

.menu-has-children ul
{display: none;}

.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  color:black;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}


.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}
.nav-menu ul {
    margin: 4px 0 0 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff;
}
.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}

.sf-arrows .sf-with-ul {
    padding-right: 30px;
}
.nav-menu li {
    position: relative;
    white-space: nowrap;
}

/* Cards with info */
.container_info{
  background-color: #f1f1f1;
  width: 80%;
  border-radius: 1rem;
  color: #393e46;
  padding: 1rem;
  font-family: 'Lato', sans-serif;
  margin-bottom: 1.5rem;
}

/* Card Graphs */
.container_graph{
  border: 0.1rem solid rgb(216, 216, 216);
  border-radius: 1rem;
  margin-bottom: 2rem;
}

/* Header Graph */
.header_graph{
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  background-color: #0E9577;
  color: white;
  padding: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.graph{
  margin: 0.5rem 1rem;
}

.container_params {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: 1050px;
}

.container_params > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  padding: 1rem;
  border: 0.15rem solid rgb(233, 233, 233);
  border-radius: 1rem;
  margin-left: 3rem;
  margin-bottom: 1.5rem;
}

.card_params{
  padding: 1rem 1rem 0 1rem;
  color: #393e46;
}

.card_title{
  font-size: 1rem;
  font-weight: bold;
  text-transform: capitalize;
  font-family: 'Lato', sans-serif;
}

.description{
  margin: 1rem 0;
  font-size: 1.1rem;
}

.icon_parameter {
  display: inline-flex;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  background-color: #54C8A1;
}

.icon_parameter i{
  font-size: 1.25rem;
}

.image_qr{
  width: 10rem;
  height: 10rem;
}

.container_qr{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  width: 1050px;
  padding: 0 0 1.5rem 0;
}

.container_qr > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

</style>
</head>
<body>
  <header id="header">
    <div class="container2">
      <div id="logo" class="pull-left">
        <h1><img src="<%= logoPath %>" alt="" title="" width="50px" /> <a href="#intro" class="scrollto">SMARTGRID</a>
        </h1>
      </div>

      <!-- <div class="pull-right">
        <h5>Reporte <%= period %></h5>
      </div> -->
    </div>
  </header>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div id="wrapper p-10">
    
    <!-- Encabezado sobre el modulo -->
    <div class = "container_info">
      <p style="font-weight: bold; text-transform: uppercase;">Información reporte <%= period%></p>
      <p>Periodo: <%= interval%></p>
      <p>Identificador del sensor: <%= module%></p>
      <p>Código de acceso: xxxxxxxxxxxx</p>
    </div>

    <!-- Area Chart -->
    <div class = "container_graph">
      <div class = "header_graph">
        Este gráfico muestra la potencia generada (KVAH) en el lapso de tiempo especificado
      </div>
      <div class="reportGraph">
        <canvas id="myChart" class="graph"></canvas>
      </div>
    </div>

    <div class = "container_graph">
      <div class = "header_graph">
        Promedios de los parámetros medidos en el lapso de tiempo especificado
      </div>
      
      <div class="container_params">
        <% if (voltage) { %>
          <div class="card_params">
            <div class="icon_parameter text-white pull-right" style="padding: 0.8rem 0.2rem;">
              <i class="fas fa-battery-bolt"></i>
            </div>
            <h1 class = "card_title">Voltaje</h1>
            <p class = "description"><%= voltage %> V</p>
          </div>

          <div class="card_params">
            <div class="icon_parameter text-white pull-right" style="padding: 0.8rem 0.2rem;">
              <i class="fas fa-plug"></i>
            </div>
            <h1 class = "card_title">Corriente</h1>
            <p class = "description"><%= current %> A</p>
          </div>
        <% } %>

        <div class="card_params">
          <div class="icon_parameter text-white pull-right" style="padding: 0.8rem 00.2rem;">
            <i class="fas fa-bolt"></i>
          </div>
          <h1 class = "card_title">Producción total</h1>
          <p class = "description"><%= production_sum %> KVAH</p>
        </div>
      </div>

      <% if (apparent_power) { %>
        <div class="container_params">
          <div class="card_params">
            <div class="icon_parameter text-white pull-right" style="padding: 0.8rem 0.2rem;">
              <i class="fas fa-battery-bolt"></i>
            </div>
            <h1 class = "card_title">Potencia aparente</h1>
            <p class = "description"><%= apparent_power %> KVA</p>
          </div>

          <div class="card_params">
            <div class="icon_parameter text-white pull-right" style="padding: 0.8rem 0.2rem;">
              <i class="fas fa-wave-sine"></i>
            </div>
            <h1 class = "card_title">Frecuencia</h1>
            <p class = "description"><%= frequency %> Hz</p>
          </div>

          <div class="card_params">
            <div class="icon_parameter text-white pull-right" style="padding: 0.8rem 0.2rem;">
              <i class="fas fa-bolt"></i>
            </div>
            <h1 class = "card_title">Potencia activa</h1>
            <p class = "description"><%= active_power %> KW</p>
          </div>

        </div>
      <% } %>    
    </div>
  </div>

  <footer style="position: fixed; bottom: 0px;">
      <img src="<%= logoQR %>" alt="" class="image_qr" />
      <div style="width: 50%; color: #393e46;">
        Conoce más sobre este proyecto escaneando el código QR
      </div>
  </footer>

  <script type="text/javascript">
	'use strict';
	(function(setLineDash) {
		CanvasRenderingContext2D.prototype.setLineDash = function() {
			if(!arguments[0].length){
				arguments[0] = [1,0];
			}
			// Now, call the original method
			return setLineDash.apply(this, arguments);
		};
	})(CanvasRenderingContext2D.prototype.setLineDash);
	Function.prototype.bind = Function.prototype.bind || function (thisp) {
		var fn = this;
		return function () {
			return fn.apply(thisp, arguments);
		};
	};
	function drawGraphs() {
        new Chart(document.getElementById('myChart'), {
            "responsive": false,
            "type":"line",
			data: {
				labels: <%-   JSON.stringify(Array.from(x_date)) %>,
				datasets: [{
					label: 'Producción de energía',
					//
					lineTension: 0.1,
				  //backgroundColor: "rgba(78, 115, 223, 0.05)",
          backgroundColor: "rgba(54, 162, 235,0.2)",
					//borderColor: "rgba(78, 115, 223, 1)",
          borderColor: "rgba(54, 162, 235,1)",
					pointRadius: 3,
					pointBackgroundColor: "rgba(78, 115, 223, 1)",
					pointBorderColor: "rgba(78, 115, 223, 1)",
					pointHoverRadius: 3,
					pointStyle: 'line',
					pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
					pointHoverBorderColor: "rgba(78, 115, 223, 1)",
					pointHitRadius: 10,
					pointBorderWidth: 2,
					data: <%=  JSON.stringify(y_production) %>,
					fill: 'start',
					//backgroundColor: Color(presets.blue).alpha(0.5).rgbString()
					//backgroundColor:'green',

				}]
			},
			options: {
				legend: {
					display: true
				},
				tooltips: {
					backgroundColor: "rgb(255,255,255)",
					bodyFontColor: "#858796",
					titleMarginBottom: 10,
					titleFontColor: '#6e707e',
					titleFontSize: 14,
					borderColor: '#dddfeb',
					borderWidth: 1,
					xPadding: 15,
					yPadding: 15,
					displayColors: true,
					intersect: false,
					mode: 'index',
					caretPadding: 10
				},
        scales: {
          yAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'KVAH'
            }
          }],
          xAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Tiempo'
            }
          }],
        }
			}
		});
	}
window.onload = function() {
    drawGraphs();
};
    </script>
</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/4.1.3/js/sb-admin-2.min.js"></script>

</html>